* {
  box-sizing: border-box;
}

h1 {
  margin: 2px;
}
p {
  margin: 2px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 712px;
  height: 712px;
  margin: 20px auto;
  background-color: #fff;
  border: solid 1px #000;
}

.row {
  display: flex;
  flex-grow: 1;
}
.square {
  border: solid #000 1px;
  flex-grow: 1;
}

#error-message {
  color: #ff0000;
}
